Config { font = "xft:Cascadia Mono:weight=bold:pixelsize=13:antialias=true:hinting=true"
       , additionalFonts = ["xft:FontAwesome:pixelsize=12:antialias=true:hinting:true","xft:Font Awesome 5 Free:pixelsize=13:antialias=true:hinting:true"]
       , borderColor = "black"
       , border = TopB
       , bgColor = "#282c34"
       , fgColor = "#abb2bf"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ 
--			 						    Run Cpu ["-L","3","-H","50",
--                               "--normal","#98c379","--high","#e06c75"] 50
										  Run Network "enp2s0" ["-L","0","-H","32",
                                          "--normal","#98c379","--high","#e06c75"] 10
--                    , Run Memory ["-t","Mem: <usedratio>%"] 50
										, Run Date "%a, %b %d - %I:%M %p" "date" 600
										, Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " %UnsafeStdinReader% }\
--                    \{ <fc=#56b6c2><fn=1>  </fn>%cpu%</fc> | <fc=#c678dd><fn=1>  </fn>%memory%</fc> | <fc=#61afef><fn=1>  </fn>%date%</fc> | <fc=#98c379>%enp2s0%</fc> "
                    \{ <fc=#56b6c2><fn=1>  </fn>%date%</fc> | <fc=#98c379>%enp2s0%</fc> "
       }
