/*
Colors
*/

* {
    background:                     #282c34ff;
    background-alt:                 #323640ff;
    foreground:                     #abb2bfff;
    border:				none;
    border-alt:               		none;
    selected:               		#61afefff;
    urgent:                         #DA4453FF;
}

